:root {
    --visable-hotbar-text: none;
    --hotbar-text-background: #2C394B;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2C394B;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
canvas{
    display: grid;
    justify-content: center;
    align-items: center;
}
.hotbar-top{
    display: flex;
    text-align: center;
    color:rgb(4, 116, 186);
    background-color: rgb(8, 32, 50);
    height: 3.9rem;
    width: 100%;
}
.show-hotbar-text{
    color: black;
}
.hotbar-top>div {
    flex: 1;
    margin:auto;

}
.hotbar-top-element{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}
.hotbar-top-element:hover{
    color: white;
    cursor: pointer;
}
#center-text{
    display: grid;
    justify-content: center;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
}
.play-button{
    border: solid black;
    background-color:  rgb(0, 51, 102);
}
.play-button:hover{
    background-color: rgb(0, 102, 204);
    color: black;
    cursor: pointer;
}
.sidebar{
    display: grid;
    margin: 3rem;
    border: solid black;
    width: 10rem;
    text-align: center;
    background-color: rgb(8, 32, 50);
    color:rgb(4, 116, 186);
}
.sidebar-child{
    margin: 2rem;
    display: inline-block;
    border-bottom: solid black ;
    padding: .5rem;
    
    white-space: nowrap;

}
.sidebar-child:hover{
    color: white;
    cursor: pointer;
    border-bottom:solid rgb(0, 51, 102);
}